# Project exclude paths
/api-gateway/target/
/service-discovery/target/
/config-server/target/
/user-service/user-domain/target
/user-service/user-infra/target
/account-service/account-domain/target
/account-service/account-infra/target
/creditcard-service/creditcard-domain/target
/creditcard-service/creditcard-infra/target
/customer-service/customer-domain/target
/customer-service/customer-infra/target
