# Project exclude paths
/api-gateway/target/
/identity-service/target/
/logging-service/target/
/service-discovery/target/
/account-service/target/
/creditcard-service/target/
/user-service/target/
/common-module/target/
/config-server/target/
/customer-service/target/
