# Project exclude paths
/api-gateway/target/
/identity-service/target/
/logging-service/target/
/service-discovery/target/
/account-service/target/
/creditcard-service/target/
/customer-service/target/
/.idea
